.reload_icon {
    margin-left: 10px;
}

.flexItem {
    display: flex;
}

/* ==========================================
メインコンテツ(選択) */

.selectMainContents {
    display: flex;
    width: 1226px;
    margin: 0 auto;
    gap: 10px;
    position: relative;
    z-index: 10;
    border-bottom: 3px solid #222;
}

.selectMainContents .mainContent {
    font-size: 1.15rem;
    font-weight: bold;
    background-color: #F6E3E9;
    border: 3px solid #F6E3E9;
    padding: 10px 20px;
    border-bottom-width: 0px;
}

.selectMainContents .active {
    color: #ECF0F3;
    background-color: #222;
    border: 3px solid #222;
    position: relative;
    top: 3px;
}

/* ==============================================
mainVisual */
.mainVisual {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mainVisualImage {
    box-shadow: 3px 3px 3px #000;
    position: relative;
}

.animeSiteLogo {
    filter: drop-shadow(2px 2px 1px #000);
    position: absolute;
    right: 10px;
    top: 20px;
}

.animeSiteLogo img {
    border-radius: 10px;
    margin-right: 10px;
}

.animeSiteLogo span {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    color: #FF6D6D;
}

/* ==============================================
SectionTitle */
.supportWrapper {
    display: flex;
    margin-left: 20px;
}

/* ===============================================
Recommend Content */

.recommendContentTitleWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.recommendContentTitleWrapper span {
    font-weight: bold;
    font-size: 1.2rem;
}

.viewAnimeWrapper {
    display: flex;
    width: 1226px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0px auto;
}

.viewAnimeWrapper .thumbnail {
    margin-bottom: 35px;
}

/* ======================================================
select btn */

.selectFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.selectFlex span {
    font-size: 0.9rem;
}

.cp_ipselect {
    overflow: hidden;
    width: 100px;
    text-align: center;
}

.cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}

.cp_ipselect select::-ms-expand {
    display: none;
}

.cp_ipselect.cp_sl03 {
    position: relative;
    border-radius: 2px;
    border: 2px solid #222;
    background: #222;
}

.cp_ipselect.cp_sl03::before {
    position: absolute;
    top: 0.5em;
    right: 0.8em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    pointer-events: none;
}

.cp_ipselect.cp_sl03 select {
    padding: 1px 18px 2px 8px;
    color: #fff;
    font-size: 0.9rem;
    background-color: #222;
}
