.detailInfo {
    width: 100%;
    max-width: 1000px;
    position: relative;
    margin-top: 20px;
}

.detailInfo .animeImage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 0;
}

.detailInfo .animeImage .thumbnail {
    width: 40%;
    filter: contrast(0.95);
}

.bottomContents {
    width: 60%;
    position: absolute;
    right: 0;
}

.viewContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.animeTitle {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px 0px 15px 10px;
}

.switchInfo {
    display: flex;
    gap: 50px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 0px 5px 25px;
}

.firstButton, .secondButton {
    opacity: 0.5;
    position: relative;
}

.switchInfo .firstButton:after, .switchInfo .secondButton:after {
    content: '○';
    position: absolute;
    left: -20px;
}

.switchInfo .active {
    text-decoration: underline;
    font-weight: 500;
    opacity: 1;
}

.switchInfo .active::after {
    content: '●';
    position: absolute;
    left: -20px;
}

/* ==============================
AnimeInfo */

.animeInfo {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 300;
}

.animeInfo a {
    background-color: #333;
    padding: 8px 10px;
    border-radius: 2px;
}

.animeInfo a:hover {
    text-decoration: underline;
}

.noInfo {
    font-size: 0.8rem;
    font-weight: 100;
}

@media screen and (max-width: 600px) {
    .detailInfo {
        background-color: #fff;
        min-height: 100vh;
        margin-top: 0;
        position: relative;
    }

    .detailInfo .animeImage {
        position: relative;
        left: 0;
    }


    .detailInfo .animeImage .thumbnail {
        width: 100%;
        max-width: 600px;
        filter: contrast(0.8);
    }

    .animeImage .imageMaskY {
        display: none;
    }

    .animeImage .imageMaskX {
        display: none;
    }

    .detailInfo .bottomContents {
        width: 100%;
        position: absolute;
        top: calc(100vw * 9 /30);
        z-index: 10;
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--bg-color) calc(100vw * 9 /40))
    }
}
