.detailInfo {
    width: 100%;
    max-width: 600px;
}

.detailInfo .animeImage {
    position: absolute;
    left:calc(100vw / 2);
}

.animeImage .imageMaskY {
    width: 100%;
    max-width: 250px;
    height: calc(250px *9 /16);
    background: linear-gradient(90deg,#111 0%,rgba(0,0,0,0) 30%, rgba(0,0,0,0) 98%, #111);
    position: absolute;
    top: 0;
    left: 0;
}

.animeImage .imageMaskX {
    width: 100%;
    max-width: 250px;
    height: calc(250px *9 /16);
    background: linear-gradient(bottom,#111 0%,rgba(0,0,0,0) 20%, rgba(0,0,0,0) 98%, #111);
    position: absolute;
    top: 0;
    left: 0;
}


.detailInfo .animeImage img {
    width: 100%;
    max-width: 250px;
    filter: contrast(0.8);
}

.animeTitle {
    color: #fff;
    filter: drop-shadow(1px 1px 2px #000);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 20px 0px 15px 10px;
}

.switchInfo {
    display: flex;
    gap: 50px;
    color: #eee;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 0px 5px 25px;
}

.firstButton, .secondButton {
    opacity: 0.5;
    position: relative;
}

.switchInfo .firstButton:after, .switchInfo .secondButton:after {
    content: '○';
    position: absolute;
    left: -20px;
}

.switchInfo .active {
    text-decoration: underline;
    font-weight: 500;
    opacity: 1;
}

.switchInfo .active::after {
    content: '●';
    position: absolute;
    left: -20px;
}

/* ==============================
AnimeInfo */

.animeInfo {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 300;
}

.animeInfo button {
    background-color: #333;
    padding:8px 10px;
    border-radius: 2px;
}

.animeInfo button:hover {
    text-decoration: underline;
}

.noInfo {
    font-size: 0.8rem;
    font-weight: 100;
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .detailInfo {
        position: relative;
    }

    .detailInfo .animeImage {
        position: relative;
        left: 0;
    }


    .detailInfo .animeImage img {
        width: 100%;
        max-width: 600px;
        filter: contrast(0.8);
    }

    .animeImage .imageMaskY {
        display: none;
    }

    .animeImage .imageMaskX {
        display: none;
    }

    .detailInfo .bottomContents {
        position: absolute;
        top: calc(100vw * 9 /30);
        z-index: 10;
        background: linear-gradient(rgba(0,0,0,0) 0%, var(--bg-color) calc(100vw * 9 /40))
    }
}
