html,
body {
  color: #444;
  background-color: #fff;
  font-family: 'Noto Sans JP', メイリオ, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

.header {
  width: 593px;
  height: 100vh;
  position: fixed;
  z-index: 10;
}

.detailHeader {
  width: 583px;
}

.main {
  margin-left: 593px;
  height: 100%;
}

.detailMain {
  margin-left: 583px;
}

.mainWrapper {
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.detailMainWrapper {
  width: 1010px;
}

.section {
  margin-top: 58px;
}

.detailSection {
  margin-top: 38px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.a-decoration1 {
  color: rgb(29, 155, 240);
  text-decoration: underline;
}

.button-decoration1 {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.button-decoration1:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ==================================================
main(center) */

.centerWrapper {
  width: 600px;
  min-height: 100vh;
  border-left: 1px solid rgb(239, 243, 244);
  border-right: 1px solid rgb(239, 243, 244);
}

.detailCenterWrapper {
  width: 620px;
}

.sectionTop {
  width: 596px;
  height: 53px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0px 16px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  position: fixed;
  top: 0;
  left: 594px;
  z-index: 999;
}

.detailSectionTop {
  width: 618px;
  left: 584px;
}

.sectionName {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.sectionTop .selectContents {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.sectionTop .selectContents .contentButton {
  font-size: 14px;
  color: rgb(29, 155, 240);
  padding: 4px 12px;
  border-radius: calc((31px) /2);
  border: 2px solid rgb(29, 155, 240);
  font-weight: 400;
  background-color: #fdfdfd;
  filter: drop-shadow(1px 2px 10px rgba(29, 155, 240, 0.1));
}

.sectionTop .selectContents .active {
  color: #fff;
  background-color: rgb(29, 155, 240);
  border: 2px solid rgb(29, 155, 240);
  font-weight: 400;
}

.sectionItem {
  padding-top: 25px;
  border-bottom: 1px solid rgb(239, 243, 244);
  position: relative;
}

.sectionItem:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.sectionItem .userIcon {
  position: absolute;
  top: 14px;
  left: 16px;
  z-index: 10;
  transition: 0.15s;
}

.sectionItem .userIcon img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.sectionItem .userIcon:hover {
  filter: brightness(0.8)
}

.sectionItem .userName {
  color: #333;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 76px;
  z-index: 10;
}

.sectionItem .userName:hover {
  text-decoration: underline;
}

.centerArticle {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.detailCenterArticle {
  padding-bottom: 5px;
}

.centerArticle .content {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin-left: 60px;
}

.centerArticle .content .imageWrapper {
  margin-top: 12px;
}

.centerArticle .viewContent {
  display: flex;
  flex-direction: column;
}

.centerArticle .viewContent .imageWrapper {
  margin-top: 12px;
}

.imageWrapper img {
  width: 504px;
  border-radius: 16px;
  border: 1px solid rgb(239, 243, 244);
}

.detailImageWrapper img {
  width: 586px;
}

/* ======================================
main (right) */

.rightWrapper {
  width: 350px;
  margin-right: 10px;
}

/* =====================================
スクロールバー */
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #ECF0F3;
}

::-webkit-scrollbar-thumb {
  background: #F6E3E9;
  scrollbar-width: thin;
}
