.loginFormWrapper {
    margin-top: 10%;
    letter-spacing: 2px;
}

.signin {
    background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
}

.login {
    color: #fff;
    position: relative;
    height: 560px;
    width: 405px;
    margin: auto;
    padding: 40px 50px 0px 60px;
    background: url(https://wallpaperaccess.com/full/109166.jpg) no-repeat center center #505050;
    background-size: cover;
    box-shadow: 0px 5px 10px -5px #000;
}

.loginform {
    padding-top: 70px;
}

.registForm {
    padding-top: 40px;
}

.active {
    border-bottom: 2px solid #1161ed;
}

.active button {
    text-shadow: 0 0 1px #fff, 0 0 4px #fff;
}

.nonactive {
    color: rgba(255, 255, 255, 0.5);
}

.nonactive button {
    text-shadow: 0 0 1px #fff, 0 0 4px #fff;
}

.login h2 {
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 400;
}

.login h2:first-child {
    padding-left: 0px;
}

.login span {
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    position: relative;
    top: -59px;
    transition: all 0.5s ease-in-out;
}

.text {
    border: none;
    width: 89%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
}

.text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}

.text:focus+span {
    opacity: 0.6;
}

.loginform input[type="text"],
.loginform input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.loginform input {
    display: inline-block;
    height: 30px;
    font-size: 14px;
}

.login h2,
.login span,
.custom-checkbox {
    margin-left: 20px;
}

.customCheckbox {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    width: 16px;
    max-height: 16px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 0px;
}

.customCheckbox:checked {
    background-color: rgba(17, 97, 237, 1);
}

.customCheckbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 4px;
    color: #fff;
}

.customCheckbox:focus {
    outline: none;
}

.loginform label {
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
}

.signin {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}

.signin:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.signin:focus {
    outline: none;
}

.loginform hr {
    border: 1px solid rgba(255, 255, 255, 0.9);
    top: 85px;
    position: relative;
}

.loginform a {
    text-align: center;
    display: block;
    top: 90px;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255);
}

.verificationMessage {
    filter: drop-shadow(2px 2px 3px #000);
    margin: 50px 10px 0px 10px;
}

/* =========================================
送信中ロードアニメーション */

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 1em;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 1em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 2em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 1em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 2em;
    }
}
