/* ===========================
背景 */

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #333;
    position: fixed;
    top: 0px;
    z-index: -10;
    /* width: 100%;
    max-width: 600px;
    min-height: 100vh;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    background-color: #fff;
    margin: 0 auto; */
}

/* ========================================
メインコンテンツ */
.mainContent {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* =============================
プロフィール枠 */

.top {
    width: 95vw;
    max-width: 400px;
    margin: 5px auto 30px auto;
}

.top h2 {
    font-size: 2.2rem;
    text-align: center;
    color: #fff;
    background-color: #333;
    margin-bottom: 20px;
}

.profileFrame {
    width: 100%;
    height: 300px;
    background-color: #fff;
    filter: drop-shadow(0px 2px 3px #111);
    border-radius: 16px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}

.profileFrame .user_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profileFrame .user_icon img {
    background-color: #fff;
    width: 6rem;
    border-radius: 50%;
    border: 4px solid #fff;
}

.profileFrame .backImage img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
    margin-bottom: 3.5rem;
}

.profileFrame .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #777;
    margin-left: 40px;
}

.profileFrame .info p {
    width: 70%;
    text-align: left;
}

/* =============================
おすすめアニメ枠 */

.recommend {
    width: 95vw;
    max-width: 400px;
    margin: 30px auto;
}

.recommend h2 {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.playlist {
    display: flex;
}

.playlist .animeFrame {
    width: 100%;
    height: 300px;
    margin: 30px auto;
    background-color: #fefefe;
    filter: drop-shadow(0px 2px 3px #111);
    border-radius: 16px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    position: relative;
}

.playlist .animeFrame:last-child {
    opacity: 0.3
}

.playlistAddButton {
    color: #fff;
    padding: 16px;
    border: 3px solid #fff;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animeFrame .thumbnail {
    width: 100%;
    height: calc(300px - 3rem);
    background-color: #666;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}


.sectionTop {
    width: 100%;
    /* max-width: 598px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.sectionTop .sectionName {
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}


.profileWrapper {
    width: 100%;
    max-width: 600px;
}

.profileWrapper img {
    object-fit: cover;
}

.profileWrapper .user_backImage {
    position: relative;
}

.profileWrapper .user_backImage img {
    width: 100vw;
    max-width: 598px;
    height: 199.33px;
}

.profileWrapper .user_backImage .user_iconWrapper {
    position: absolute;
    bottom: -71px;
    left: 17px;
    z-index: 10;
}

.user_iconWrapper .user_icon img {
    width: 80px;
    filter: drop-shadow(0px 0px 8px #fff);
    background-color: #fff;
    border-radius: 50%;
}

.bottomProfileWrapper {
    padding: 12px 16px 16px 16px;
    position: relative;
}

.bottomProfileWrapper .top {
    height: 68.61px;
    display: flex;
    justify-content: flex-end;
}

.top .editProfileButton {
    width: 100%;
    max-width: 169px;
    height: 36px;
    color: #444;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 0px 10px;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 18px;
}

.bottomProfileWrapper .infomation {
    margin-top: 4px;
    margin-bottom: 12px;
}

.infomation .user_name {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 4px;
    margin-bottom: 12px;
}

.infomation .self_introduction {
    font-weight: 300;
    margin-bottom: 12px;
}

.infomation .date_joined {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    color: rgb(83, 100, 113);
    font-weight: 100;
}

.selectButtonWrapper {
    display: flex;
    color: rgb(83, 100, 113);
    font-weight: 300;
}

.selectButtonWrapper .selectButton {
    position: relative;
}

.selectButtonWrapper .selectButton:hover {
    background-color: rgb(15, 20, 25, 0.1);
}

.selectButton button {
    padding: 16px 0px 16px 32px;
}

.selectButtonWrapper .active {
    color: var(--str-base-color);
    font-weight: bold;
}

.selectButtonWrapper .active:after {
    width: calc(100% - 30px);
    margin-left: 32px;
    height: 4px;
    content: "";
    background-color: rgb(29, 155, 240);
    border-radius: 2px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

/* ===============================
マイプロフィール編集 */
.editProfileWrapper {
    font-size: 1.4rem;
    width: 95%;
    max-width: 600px;
    background-color: #fff;
    padding-top: 10px;
    border-radius: 16px;
    font-weight: 400;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
}

.editProfileTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 7px 10px;
    height: 40px;
}

.editProfileTop .topContent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.editProfileTop .saveButton {
    font-size: 1.1rem;
    padding: 5px 15px;
    color: #fff;
    border: #000;
    background-color: rgb(29, 155, 240);
    border-radius: 16px;
}

.editProfileTop .saveButton:hover {
    opacity: 0.8;
}

.editForm {
    display: flex;
    flex-direction: column;
}

.editForm input[type="file"] {
    display: none;
}

.editForm label {
    cursor: pointer;
    width: 50px;
    height: 50px;
    content: '';
    background-size: contain;
    background-image: url("/image/systemIcon/system/camera_icon.png");
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 1px #eee);
}

.editForm .user_backImage img {
    width: 100%;
    max-width: 600px;
}

.editForm .backImageInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
}

.editForm .iconImageInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
}

.editInfomation {
    display: flex;
    flex-direction: column;
}

.editInfomation input {
    width: 100%;
    max-width: 530px;
    padding: 30px 5px 5px;
    border: 1px solid #555;
}

.editInfomation textarea {
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    max-width: 530px;
    height: 200px;
    padding: 30px 5px 5px;
    border: 1px solid #555;
    resize: none;
}

.editInfomation textarea:focus {
    outline: auto;
}

.editInfomation .editContent {
    margin-bottom: 30px;
    position: relative;
}

.editInfomation .editContent span {
    color: #888;
    font-size: 15px;
    position: absolute;
    top: 5px;
    left: 26px;
}


/* =====================================
sectionItem */

.sectionItemWrapper {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.sectionItem {
    display: flex;
    gap: 10px;
    margin: 20px 32px;
    position: relative;
}

.sectionItem .itemImage img {
    width: 200px;
}

.sectionItem .itemInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sectionItem .itemInfo p:nth-child(2) {
    font-size: 0.9rem;
    color: var(--str-light_color);
}

.itemInfo .star {
    color: var(--str-star_color);
}

.moreInfo {
    color: var(--str-accent-color);
    position: absolute;
    bottom: 0;
    left: 220px;
}


/* ================================
react-moveable 設定項目
(画像をサイト上で自由に操作できるツール)*/
/* .moveable {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 50px;
    display: inline-block;
    position: absolute;
}
 */

.logout {
    padding: 7px 15px;
    border-radius: 20px;
    background-color: #444;
    color: #fff;
}

.logout:hover {
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    .profileWrapper .user_backImage img {
        width: calc(100vw - 2px);
        max-width: 598px;
        height: calc(100vw * 0.4);
    }

    .editForm .user_backImage img {
        width: 100%;
        max-width: 598px;
    }

    .profileWrapper .user_backImage .user_iconWrapper {
        position: absolute;
        bottom: -50px;
        left: 17px;
        z-index: 10;
    }

    .user_iconWrapper .user_icon img {
        width: 100px;
        height: 100px;
    }

    .bottomProfileWrapper .top {
        height: 46px;
    }

    .sectionItem .itemImage img {
        width: 140px;
    }
}

@media screen and (max-width: 300px) {
    .user_iconWrapper .user_icon img {
        width: 70px;
        height: 70px;
    }

    .top .editProfileButton {
        height: 28px;
    }
}
