/* ===============================
wrapper & flex */
.outerWrapper {
    text-align: center;
    margin: 0 auto;
}

.innerWrapper {
    display: inline-block;
    width: 1226px;
    height: 100vh;
    background-color: rgb(58, 58, 58);
    font-size: 1rem;
    text-align: left;
    padding: 3%;
    position: relative;
}

.innerWrapper .logout {
    font-size: 1.2rem;
    color: #fff;
    border: 1px solid #ec97a6;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    top: 60px;
    right: 80px;
}

.innerWrapper .user_icon {
    border: 2px solid #fff;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 55px;
}

/* =========================================
プロフィール */

.profile {
    display: flex;
    padding-bottom: 40px;
}

.profileInfo p {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.profileInfo .username {
    font-size: 1.9rem;
    color: #e8e6e3;
    margin-top: 10px;
}

/* ==================================================
コンテンツラッパー */

.articleTitleWrapper {
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
}

.articleTitleWrapper div {
    padding: 10px 30px;
    border: 1px solid #fff;
}

.articleTitleWrapper div:first-child {
    color: #000;
    font-weight: bold;
    background-color: #fff;
}

/* ==============================================
reviewAnime */

.reviewAnime {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    padding: 1.3rem;
    background-color: #1b1b1b;
}

/* ================================
react-moveable 設定項目
(画像をサイト上で自由に操作できるツール)*/
/* .moveable {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 50px;
    display: inline-block;
    position: absolute;
}
 */
