.swiper-wrapper {
    transition-timing-function: linear;
}

.swipperWrapper {
    width: 100%;
    margin: 0 auto 4vh auto;
}

.swiperSlideWrapper {
    height: 280px;
}

.swiperSlide {
    /* 変数 */
    --siper-slide-width: 300px;
    --siper-slide-height: 250px;
    /* CSS */
    width: var(--siper-slide-width);
    height: var(--siper-slide-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.swiperSlide .image {
    border-radius: 16px;
    position: relative;
}

.swiperSlide .image img {
    width: 300px;
    border-radius: 8px;
}

.image .imageMaskX {
    width: 100%;
    max-width: 240px;
    height: calc(250px *9 /16);
    position: absolute;
    top: 0;
    left: 0;
}

.animeTitle {
    width: calc(var(--siper-slide-width) - 40px);
    text-align: center;
}

.reviewStar {
    width: 240px;
    padding-bottom: 2px;
    position: absolute;
    top: calc(var(--siper-slide-height) - 115px);
    left: 10px;
    z-index: 3;
}

@media screen and (max-width: 600px) {
    .swipperWrapper {
        width: 100%;
        margin: 0 auto 3vh auto;
    }

}
