/* ===========================================
グラフ */

.bar_graph {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bar_box {
    width: 40%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.bar_box .bar_name {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    position: absolute;
    left: 20px;
    z-index: 10;
}

.bar_box:hover .bar_name {
    text-decoration: underline;
}

.voteText::after {
    content: attr(text);
    font-size: 1.2rem;
    font-weight: 400;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 30px;
    animation: fade-in-text .4s 0.1s forwards;
}

.bar_box .bar {
    border-radius: 3px;
    height: 30px;
    position: relative;
}

.bar_box:hover .bar {
    opacity: 0.7;
}

@keyframes fade-in-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .bar_box {
        width: 100%;
        max-width: 600px;
    }
}
