/* ===========================================
グラフ */

.bar_graph {
    filter: drop-shadow(2px 3px 1px #000);
    margin-top: 10px;
    padding: 10px;
}

.bar_graph .bar_name {
    animation: fade-in-text 2.2s 0.1s forwards;
    opacity: 0;
}

.bar_box {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.voteText::after{
    content: attr(text)
}

.bar_box:hover {
    opacity: 0.7;
}

.bar_box:hover .voteText::after {
    font-weight: bold;
    content: "投票する";
}

.bar_box .bar_name {
    font-size: 0.8rem;
    font-weight: bold;
    min-width: 100px;
    text-align: left;
}

.bar_box .bar {
    border-radius: 3px;
    height: 30px;
    position: relative;
    margin-right: 5px;
}

.bar_graph_one .bar::after {
    animation: fade-in-text 2.2s 0.1s forwards;
    content: attr(text);
    font-weight: 700;
    position: absolute;
    left: 5px;
    top: 7px;
}

/* Bar Graph Horizontal Animations */

@keyframes fade-in-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
