.activeAddButton {
    background-color: #fff;
    width: 600px;
    max-width: 95vw;
    height: auto;
    color: #444;
    font-size: 16px;
    border-radius: 16px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 9999;
}

.activeAddButton .desableButton {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.activeAddButton .desableButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.contentTop {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #333;
    font-weight: bold;
}

.contentWrapper {
    display: flex;
    margin-bottom: 40px;
}

.contentWrapper .apologizeImage {
}

.contentWrapper .apologizeImage img {
    width: 60px;
    height: auto;
}

.contentWrapper .text {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    gap: 15px;
    margin-top: 15px;
}
