.reviewCenterArticle {
    padding-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.reviewContent {
    display: flex;
    justify-content: space-between;
}

.reviewContent img {
    border-radius: 5px;
}

.reviewModified {
    font-size: 14px;
    color: rgb(83, 100, 113);
    font-weight: 300;
}

.reviewModified:hover {
    cursor: pointer;
    text-decoration: underline;
}
