/* ============================================
検索バー */

.searchForm {
    font-weight: 400;
    font-size: 1rem;
    margin: 4px 0;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
    position: relative;
}

.searchBar {
    width: 80vw;
    max-width: 960px;
    height: 46px;
    padding-left: 54px;
    border-radius: 23px;
    border: 1px solid rgb(239, 243, 244);
    background-color: rgb(239, 243, 244);
}

.searchBar::placeholder {
    color: rgba(25, 40, 60, 0.95);
    font-weight: 300;
    letter-spacing: -1px;
}

.searchBar:focus {
    outline: none;
    color: #000;
    background-color: #fff;
    border: 1px solid rgb(29, 155, 240);
}

.searchIcon {
    position: absolute;
    top: 13px;
    left: 20px;
}

@media screen and (max-width: 600px) {
    .searchBar {
        height: 40px;
    }
}

@media screen and (max-width: 300px) {
    .searchBar {
        height: 30px;
    }

    .searchIcon {
        width: 17px;
        top: 50%;
        transform: translate(0, -50%);
    }
}
