/* ============================================
検索バー */

.searchForm {
    font-weight: 100;
    font-size: 14px;
    margin: 4px 0;
    position: fixed;
    z-index: 10;
}

.searchBar {
    width: 350px;
    height: 46px;
    padding-left: 20px;
    border-radius: 23px;
    border: 1px solid rgb(239, 243, 244);
    background-color: rgb(239, 243, 244);
}

.searchBar:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid rgb(29, 155, 240);
}
