.thumbnail {}

/* ============================================
アニメの簡易情報表示 */

.viewAnime {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 6px;
}

.viewAnimeBackground {
    padding: 6px 6px 16px 6px;
    transition: 0.15s;
    background-color: #fbfbfd;
    position: relative;
}

.viewAnimeBackground:hover {
    transform: scale(1.05);
}

.viewAnimeGround {
    text-align: left;
}

.viewAnime h3 {
    font-weight: bold;
    letter-spacing: 2px;
    color: #004B91;
    text-decoration: underline;
    margin-top: 9px;
}

.commentIcon {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 12px;
    color: #D76F92;
    font-size: 14px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
}

/* ==========================================
アニメの詳細情報表示 */

.detailAnimeBackground {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    left: calc(50% - 100vw/2);
    top: calc(50% - 100vh/2);
    z-index: 20;
}

.detailAnime {
    text-align: left;
    color: #fff;
    background: rgb(20, 22, 23);
    width: 600px;
    height: 860px;
    border-radius: 6px;
    position: fixed;
    left: calc(50% - 600px/2);
    top: calc(50% - 860px/2);
    z-index: 30;
    box-shadow: 3px 3px 5px #000;
}

.detailAnimeImage {
    border: solid 4px #fff;
}

.detailAnimeImage img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.detailContentWrapper {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.5rem;
    margin: 0 auto;
}

.detailContentWrapper .detailContent {
    color: #fff;
    margin-top: 10px;
}

.detailInfo {
    max-height: 460px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    font-size: 1.4rem;
    overflow-y: scroll;
}

.detailInfo h3 {
    color: #85F4FF;
    font-weight: bold;
    letter-spacing: 2px;
}
